# Minimal set of files and folders to ignore. Please update this file if more should be added in the future.

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
test-results.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Intellij IDE
.idea

tmp/